---
http_interactions:
- request:
    method: get
    uri: https://api.nokotime.com/v2/entries?updated_from=2019-01-15T00:00:00Z&updated_to=2019-01-16T00:00:00Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nokotoken:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Link:
      - <https://api.nokotime.com/v2/entries?page=2&updated_from=2019-01-15T00%3A00%3A00Z&updated_to=2019-01-16T00%3A00%3A00Z>;
        rel="last", <https://api.nokotime.com/v2/entries?page=2&updated_from=2019-01-15T00%3A00%3A00Z&updated_to=2019-01-16T00%3A00%3A00Z>;
        rel="next"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":0,"date":"2019-01-15","billable":false,"minutes":120,"description":"description_13","created_at":"2019-01-15T19:25:32Z","updated_at":"2019-01-15T19:25:32Z","approved_at":null,"source_url":null,"user":{"id":1,"email":"email_0@domain.com","first_name":"first_name_0","last_name":"last_name_0","profile_image_url":"http://foo.com/0","url":"http://foo.com/0"},"approved_by":null,"tags":[],"project":{"id":2,"name":"name_3","billing_increment":5,"enabled":true,"billable":false,"color":"#7d4ad1","url":"http://foo.com/1"},"url":"http://foo.com/2","invoiced_outside_of_freckle_url":"http://foo.com/2/invoiced_outside_of_freckle","invoiced_outside_of_noko_url":"http://foo.com/2/marked_as_invoiced","approved_url":"http://foo.com/2/approved","unapproved_url":"http://foo.com/2/unapproved"},{"id":3,"date":"2019-01-15","billable":false,"minutes":165,"description":"description_2","created_at":"2019-01-15T18:44:44Z","updated_at":"2019-01-15T18:44:44Z","approved_at":null,"source_url":null,"user":{"id":4,"email":"email_1@domain.com","first_name":"first_name_0","last_name":"last_name_1","profile_image_url":"http://foo.com/1","url":"http://foo.com/3"},"approved_by":null,"tags":[{"id":5,"name":"name_13","billable":true,"formatted_name":"#name_13","url":"http://foo.com/4"}],"project":{"id":6,"name":"name_1","billing_increment":5,"enabled":true,"billable":false,"color":"#d3d52b","url":"http://foo.com/5"},"url":"http://foo.com/6","invoiced_outside_of_freckle_url":"http://foo.com/6/invoiced_outside_of_freckle","invoiced_outside_of_noko_url":"http://foo.com/6/marked_as_invoiced","approved_url":"http://foo.com/6/approved","unapproved_url":"http://foo.com/6/unapproved"},{"id":7,"date":"2019-01-15","billable":false,"minutes":300,"desc[...]
- request:
    method: get
    uri: https://api.nokotime.com/v2/entries?page=2&updated_from=2019-01-15T00:00:00Z&updated_to=2019-01-16T00:00:00Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nokotoken:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Link:
      - <https://api.nokotime.com/v2/entries?page=1&updated_from=2019-01-15T00%3A[...]
