---
http_interactions:
- request:
    method: get
    uri: https://api.nokotime.com/v2/tags
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nokotoken:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"id":0,"name":"name_0","billable":true,"formatted_name":"formatted_name_0","entries":2663,"entries_url":"http://foo.com/0/entries","url":"http://foo.com/0","created_at":"2013-11-22T09:47:59Z","updated_at":"2019-05-22T05:34:50Z"},{"id":1,"name":"name_1","billable":true,"formatted_name":"formatted_name_1","entries":166,"entries_url":"http://foo.com/1/entries","url":"http://foo.com/1","created_at":"2014-01-30T16:09:44Z","updated_at":"2019-05-22T05:34:50Z"},{"id":2,"name":"name_2","billable":true,"formatted_name":"formatted_name_2","entries":161,"entries_url":"http://foo.com/2/entries","url":"http://foo.com/2","created_at":"2016-04-20T10:35:22Z","updated_at":"2019-05-22T05:34:50Z"},{"id":3,"name":"na[...]
