---
http_interactions:
- request:
    method: get
    uri: https://api.nokotime.com/v2/users?page=2&per_page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nokotoken:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Link:
      - <https://api.nokotime.com/v2/users?page=1&per_page=1>; rel="first", <https://api.nokotime.com/v2/users?page=40&per_page=1>;
        rel="last", <https://api.nokotime.com/v2/users?page=3&per_page=1>; rel="next",
        <https://api.nokotime.com/v2/users?page=1&per_page=1>; rel="prev"
    body:
      encoding: UTF-8
      string: '[{"id":0,"email":"mail_0@domain.com","first_name":"first_name_0","last_name":"last_name_0","profile_image_url":"http://foo.com/0","state":"active","role":"supervisor","entries":2209,"expenses":0,"created_at":"2013-11-22T09:47:23Z","updated_at":"2019-03-18T08:14:19Z","url":"http://foo.com/0","entries_url":"http://foo.com/0","expenses_url":"http://foo.com/0/expenses","activate_url":"http://foo.com/0","deactivate_url":"http://foo.com/0","give_access_to_projects_url":"http://foo.com/0","revoke_access_to_projects_url":"http://foo.com/0","revoke_access_to_all_projects_url":"http://foo.com/0"}]'
  recorded_at: Mon, 13 May 2019 12:29:20 GMT
recorded_with: VCR 4.0.0
