---
http_interactions:
- request:
    method: get
    uri: https://api.nokotime.com/v2/project_groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nokotoken:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Link:
      - <https://api.nokotime.com/v2/project_groups?page=2>; rel="last", <https://api.nokotime.com/v2/project_groups?page=2>;
        rel="next"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":0,"name":"name_119","created_at":"2018-07-19T10:06:17Z","updated_at":"2018-07-19T10:06:17Z","projects":[{"id":1,"name":"name_23","billing_increment":5,"enabled":true,"billable":true,"color":"#feff96","url":"http://foo.com/0"},{"id":2,"name":"name_52","billing_increment":5,"enabled":false,"billable":true,"color":"#86ac2a","url":"http://foo.com/1"}],"url":"http://foo.com/2","entries_url":"http://foo.com/2/entries","projects_url":"http://foo.com/2/projects","add_projects_url":"http://foo.com/2/add_projects","remove_projects_url":"http://foo.com/2/remove_projects","remove_all_projects_url":"http://foo.com/2/remove_all_projects"},{"id":3,"name":"name_120","created_at":"2018-07-26T15:18:39Z","updated_at":"2018-07-26T15:18:39Z","projects":[{"id":4,"name":"name_10","billing_increment":5,"enabled":true,"billable":true,"color":"#f1f353","url":"http://foo.com/3"}],"url":"http://foo.com/4","entries_url":"http://foo.com/4/entries","projects_url":"http://foo.com/4/projects","add_projects_url":"http://foo.com/4/add_projects","remove_projects_url":"http://foo.com/4/remove_projects","remove_al[...]
- request:
    method: get
    uri: https://api.nokotime.com/v2/project_groups?page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Nokotoken:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Link:
      - <https://api.nokotime.com/v2/project_groups?page=1>; rel="first", <https://api.nokotime.com/v2/project_groups?page=1>;
        rel="[...]
